@model ProductViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Products" asp-action="Edit">
    <div class="mb-3">
        <label asp-for="Product.Id" class="form-label">
            ID
        </label>
        <input asp-for="Product.Id" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="Product.Name" class="form-label">
            Name
        </label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Product.Description" class="form-label">
            Description
        </label>
        <textarea asp-for="Product.Description" class="form-control">
        </textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Product.UnitPrice" class="form-label">
            Unit Price
        </label>
        <input asp-for="Product.UnitPrice" class="form-control" />
        <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Product.Quantity" class="form-label">
            Quantity
        </label>
        <input asp-for="Product.Quantity" class="form-control" />
        <span asp-validation-for="Product.Quantity" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Product.ManufacturerId" class="form-label">
            Manufacturer
        </label>
        <select asp-for="Product.ManufacturerId" class="form-control">
            <option></option>

            @foreach (Manufacturer manufacturer in Model.Manufacturers)
            {
                <option value="@manufacturer.Id">
                    @manufacturer.Name
                </option>
            }
        </select>
    </div>
    <div class="my-3">
        <a asp-controller="ProductSizes" asp-action="Index" asp-route-productId="@Model.Product.Id">
            Sizes
        </a>
    </div>
    <div class="my-3">
        <a asp-controller="ProductColors" asp-action="Index" asp-route-productId="@Model.Product.Id">
            Colors
        </a>
    </div>

    <div class="my-3">
        <a asp-controller="ProductCategories" asp-action="Index" asp-route-productId="@Model.Product.Id">
            Categories
        </a>
    </div>

    <div>
        <a class="btn btn-secondary" asp-controller="Products" asp-action="Index">
            Cancel
        </a>

        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </div>
</form>