@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Products" asp-action="Edit">
    <div class="mb-3">
        <label asp-for="Id" class="form-label">
            ID
        </label>
        <input asp-for="Id" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label">
            Name
        </label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">
            Description
        </label>
        <textarea asp-for="Description" class="form-control">
        </textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UnitPrice" class="form-label">
            Unit Price
        </label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Quantity" class="form-label">
            Quantity
        </label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ManufacturerId" class="form-label">
            Manufacturer
        </label>
        <select asp-for="ManufacturerId" class="form-control">
            <option></option>

            @foreach (Manufacturer manufacturer in ViewBag.Manufacturers)
            {
                <option value="@manufacturer.Id">
                    @manufacturer.Name
                </option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="UnitOfMeasureId" class="form-label">
            Unit
        </label>
        <select asp-for="UnitOfMeasureId" class="form-control">
            <option></option>

            @foreach (UnitOfMeasure unitOfMeasure in ViewBag.UnitOfMeasures)
            {
                <option value="@unitOfMeasure.Id">
                    @unitOfMeasure.Unit
                </option>
            }
        </select>
    </div>

    <!--<div class="mb-3">
        <label asp-for="ProductTypeId" class="form-label">
            Name
        </label>
        <select asp-for="ProductTypeId" class="form-control">
            <option></option>

            @foreach (ProductType productType in ViewBag.ProductTypes)
            {
                <option value="@productType.Id">
                    @productType.Name
                </option>
            }
        </select>
    </div>-->

    <div class="my-3">
        <a asp-controller="ProductCategories" asp-action="Index" asp-route-productId="@Model.Id">
            Categories
        </a>
    </div>

    <div>
        <a class="btn btn-secondary" asp-controller="Products" asp-action="Index">
            Cancel
        </a>

        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </div>
</form>