@model List<ProductColor>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="my-3">
    <a class="btn btn-primary" asp-controller="ProductColors" asp-action="Create"
        asp-route-productId="@ViewBag.ProductId">
        Add Color
    </a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductColor color in Model)
            {
                <tr>
                    <td>
                        @color.Color.Name
                    </td>
                    <td>
                        @color.Color.Description
                    </td>
                    <td>
                        <form asp-controller="ProductColors" asp-action="Delete"
                            asp-route-productId="@color.ProductId" asp-route-colorId="@color.ColorId">
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>